<div class="form-footer">
  {{#each buttons as |button id|}}
    <button
      type="button"
      class="dialog-button {{button.classes}}"
      data-action="{{id}}"
    >
      {{{button.icon}}}
      {{button.label}}
    </button>
  {{/each}}
</div>